{% extends 'backend/baseBack.html.twig' %}

{% block title %}New Submission{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create New Submission</h1>
        <a href="{{ path('app_submission_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
            <i class="fas fa-arrow-left fa-sm text-white-50 mr-2"></i> Back to List
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Submission Information</h6>
        </div>
        <div class="card-body">
            {{ include('backend/submission/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
