<div class="notify-message" data-notify-target="container">
    <span>New car added: {{ brand }} {{ model }}</span>
    <button class="notify-dismiss" onclick="this.parentElement.remove()">×</button>
</div>
