{# Dialog title #}
<h1>Edit Submission</h1>

{# Form with action pointing back to the edit controller with dialog parameter #}
{{ form_start(form, {'action': path('app_Fsubmission_edit', {'idSubmission': submission.idSubmission, 'dialog': 1})}) }}
    {# Render all form fields #}
    {{ form_widget(form) }}
    {# Submit button #}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# Add a cancel button to close the dialog #}
<button type="button" class="btn btn-secondary mt-2" onclick="window.parent.closeEditDialog()">Cancel</button>