{% extends 'backend/baseBack.html.twig' %}

{% block title %}New Response{% endblock %}

{% block content %}
    <h1>Create new Response</h1>

    {{ include('backend/response/_form.html.twig') }}

    <a href="{{ path('app_response_index') }}">back to list</a>
{% endblock %}
